body {
    font-family: 'Arial', sans-serif;
    background-color: #b0adad;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#login-form {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-item input {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}
